---
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import Link from "@components/Link.astro";
import { SITE, HOME, SOCIALS } from "@consts";
import BookNow from "@components/BookNow.astro";

---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h4 class="animate font-semibold text-black dark:text-white">
      Welcome
    </h4>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <p class="animate">
            A charming ancient Dammuso nestled in the lush greenery of <strong>Kaggiar Valley</strong>, ideal for nature
            lovers and those
            seeking relaxation. The house offers a convenient location, making it easy to explore many of the island's
            attractions. <strong>Cala Cinque Denti</strong>, one of the island's most stunning bays, is just a short
            walk away, while <strong>Lake
              Venus</strong> can be reached by a scenic walk along the historic Roman road.
          </p>
          <div class="animate py-6">
          <img class=" w-full h-auto rounded-md shadow-lg" src="ext-01.jpg" alt="Dammuso">
          </div>
        </article>
      </section>
      <BookNow>
    </div>
  </Container>
</PageLayout>