---

import Link from "@components/Link.astro";

---

<section class="animate space-y-4">
    <h5 class="font-semibold text-black dark:text-white">
        Reserve your stay
    </h5>
    <article>
        <p class="animate">
           You can book your stay at our dammuso through Airbnb.<br/>
            We offer a unique experience in the heart of the beautiful island of Pantelleria.
        </p>
        <p class="animate">
            <Link external
                href="https://www.airbnb.com/rooms/873750898245344300?check_in=2025-06-06&check_out=2025-06-12&guests=1&adults=1&s=67&unique_share_id=023d91e3-e7a7-44b5-86d1-c813c034c447">
            Book now
            </Link>
        </p>
    </article>
</section>