---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href="/" underline={false}>
        <div class="font-semibold">
          {SITE.NAME}
        </div>
      </Link>
      <nav class="flex gap-1">
        <Link href="/about">
          about
        </Link>
        <span>
          {`/`}
        </span>
        <Link href="/explore">
          explore
        </Link>
        <span>
          {`/`}
        <Link external href="https://instagram.com/">
          photos
        </Link>
        <span>
          {`/`}
        </span>
        <Link external href="https://www.airbnb.com/rooms/873750898245344300?check_in=2025-06-06&check_out=2025-06-12&guests=1&adults=1&s=67&unique_share_id=023d91e3-e7a7-44b5-86d1-c813c034c447">
          book
        </Link>
      </nav>
    </div>
  </Container>
</header>
