<article>
    <section>

        <p class="animate">
            I hope you enjoy your time in Pantelleria and feel at home in my dammuso.<br />
            Please don’t hesitate to reach out with any questions or needs.
        </p>
        <p class="animate">
            Wishing you a peaceful, adventurous, and unforgettable stay! <br/>
            Warm regards,
        </p>
        <p class="animate">
            <em>Lucia</em>
            </p>
    </section>
</article>