<article>
<section>
    <p class="animate">
        Dear Guest,
        </p>
        <p class="animate">
Welcome to our dammuso—your peaceful retreat nestled in the natural beauty of Pantelleria.
We’re so happy to host you, and we want to make sure your experience is as smooth and
relaxing as possible.
        </p>
    <p class="animate">
Below you’ll find all the practical information you need regarding the house, your stay, and tips
to enjoy the island to the fullest.
    </p>
</section>
</article>
